{% extends "vkr/base.html" %}
{% load static %}

{% load pwa %}

<head>
  {% progressive_web_app_meta %}
</head>

{% block welcome_page %}
    <link rel="stylesheet" type="text/css" href="{% static 'welcome.css' %}">
    <div class="welcome_page">
        <!-- src={% static 'images/bgw1.jpg' %} -->
        <div class="welcome_page_background"> </div>
        <p class="noselect">#EventЧетверг</p>
        <div class="bottom_button">
            <a href="#content_section"><img class="welcome_page_arrow" src="{% static 'images/arrow.svg' %}" /></a>
        </div>
    </div>
    
    <script>
        const smoothLinks = document.querySelectorAll('a[href^="#"]');
        for (let smoothLink of smoothLinks) {
            smoothLink.addEventListener('click', function (e) {
                e.preventDefault();
                const id = smoothLink.getAttribute('href');

                document.querySelector(id).scrollIntoView({
                    behavior: 'smooth',
                    block: 'start'
                });
            });
        };

        var lastScroll = screen.height - 10;
        $(window).scroll(function(){
            if($(window).scrollTop() < lastScroll){
                alert("sdsd")
            } else{
                console.log(screen.height)
            }
        });

    </script>
{% endblock %}

{% block content %}
    <div id="content_section"></div>
        <div class="content-section">
            <h1 class="title"><strong>О нашей организации</strong></h1>
            <link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
            <h4>Добро пожаловать в  #EventЧетверг!</h4>
            <br>
            <h5>
                Мы — динамичное бизнес-сообщество, объединяющее профессионалов из различных отраслей для сотрудничества, обмена опытом и поддержки. 
                <br><br>
                Наша миссия — помочь нашим членам развивать и расширять свой бизнес, открывать новые возможности и достигать успеха.
            </h5>
        </div>

        <div class="palette noselect">
            <div class="palette_item">
                <img src="{% static 'images/menu.svg' %}" alt="">
                <div>
                    <p> Что мы предлагаем </p>
                </div>
            </div>
            <div class="palette_item">
                <img src="{% static 'images/menu.svg' %}" alt="">
                <div>
                    <p> Нетворкинг </p>
                </div>
            </div>
            <div class="palette_item">
                <img src="{% static 'images/menu.svg' %}" alt="">
                <div>
                    <p> Увлекательные мероприятия </p>
                </div>
            </div>
            <div class="palette_item">
                <img src="{% static 'images/menu.svg' %}" alt="">
                <div>
                    <p> Поддержка и менторство </p>
                </div>
            </div>
            <div class="palette_item">
                <img src="{% static 'images/menu.svg' %}" alt="">
                <div>
                    <p> Рост и развитие </p>
                </div>
            </div>
            <div class="palette_item">
                <img src="{% static 'images/menu.svg' %}" alt="">
                <div>
                    <p> Сильное сообщество </p>
                </div>
            </div>
            <div class="palette_item">
                <img src="{% static 'images/menu.svg' %}" alt="">
                <div>
                    <p> Гибкие возможности </p>
                </div>
            </div>
            <div class="palette_item">
                <img src="{% static 'images/menu.svg' %}" alt="">
                <div>
                    <p> Настоящая практика </p>
                </div>
            </div>
            
        </div>
        <div class="content-section">
            <h5>
                <p>
                    Присоединяйтесь к нам!<br>
                    Станьте частью нашего бизнес-сообщества и откройте для себя мир новых возможностей и сотрудничества. 
                    Будь то опытные профессионалы или начинающие предприниматели — у нас есть что предложить каждому.
                </p>
            </h5>
        </div>
{% endblock content %}