{% extends "vkr/base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'modal.css' %}">
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        {% comment %}
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% endcomment %}
        <h2 class="article-title">{{ object.title }}</h2>
        
        <img style="width: 100%; border-radius: 10px; margin: 20px 0;" src="{{ event.image.url }}">

      </div>
      <p class="article-content">{{ object.content }}</p>
      <p>Дата проведения мероприятия: {{ object.event_date }}</p>
      <p>Стоимость участия без подписки: {{ object.event_price }}</p>
      <button class="type_button" onclick="Send({{ event.id }}, {{ event.price }})">
        Записаться
      </button>
    </div>
  </article>

  <div id="modal-conteiner" class="hidden">
    <div class="modal-content">
      <p id="modal-text-insert"></p>
      <button onclick="Close()" id="close_button" class="close_button">Закрыть</button>
    </div>
  </div>

  <script>
    function httpGet(theUrl) {
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open("GET", theUrl, false); // false for synchronous request
      xmlHttp.send(null);
      return xmlHttp.responseText;
    }
    function Close() {
      document.getElementById("modal-conteiner").classList.add("hidden");
      document
        .getElementById("modal-conteiner")
        .classList.remove("modal-conteiner");
    }
    function Send(id, price) {
      document.getElementById("modal-conteiner").classList.add("modal-conteiner");
      document.getElementById("modal-conteiner").classList.remove("hidden");

      
      var answer = httpGet("/enjoy_event/" + id + "/");

      if (~answer.indexOf('pay_page')){
        document.getElementById('close_button').setAttribute( "onClick", `Redirect()` );
        document.getElementById('close_button').innerText = "Оплатить";
        document.getElementById('modal-text-insert').innerText = 'Перейдите на страницу оплаты';
      }
      else{
        document.getElementById('close_button').setAttribute( "onClick", "Close()" );
        document.getElementById('close_button').innerText = "Закрыть";
        document.getElementById('modal-text-insert').innerText = answer;
      }
    }
    function Redirect(){
      window.location.href = `/event_pay`
    }
  </script>
{% endblock content %}
