{% extends "vkr/base.html" %}
{% block content %}
    {% comment %} <div class="content-section">
        {% if events %}
            <h3>Текущие мериприятия</h3> 
        {% else %}
                В данный момент нет подходящих мериприятий
        {% endif %}
    </div> {% endcomment %}
    {% for event in events %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <small class="text-muted">{{ event.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2>{{ event.title }}</h2>
                <p class="article-content">{{ event.content }}</p>
                {% comment %} <a class="article-title" href="{% url 'vkr-enjoy_event' event.id %}" style="float: right;"> 
                    
                </a>  TODO style {% endcomment %}
                <button class="type_button" onclick="ao()">Записаться</button>
            </div>
        </article>
    {% endfor %}
    
    <script>
        async function getBody(url) {
            const options = {
                url: url,
                method: 'GET',
            };

            // Return new promise
            return new Promise(function(resolve, reject) {
                // Do async job
                request.get(options, function(err, resp, body) {
                if (err) {
                    reject(err);
                } else {
                    resolve(body);
                }
                })
            })
        }
        function ao(){
            const al = getBody('/enjoy_event/1/');
            alert(al)
        }
    </script>
{% endblock content %}
