{% extends "vkr/base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'modal.css' %}">
    {% if not events %}
        <div class="content-section">
            В данный момент нет подходящих мериприятий
        </div>
    {% endif %}
    
    {% for event in events %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <small class="text-muted">{{ event.date_posted|date:"F d, Y" }}</small>
                </div>
                <a href="{% url 'event-detail' event.id %}"><h2>{{ event.title }}</h2></a>
                <h5>Дата проведения мероприятия: {{ event.event_date }}</h5>
                <h5>Цена без подписки: {{ event.event_price }}</h5>
                <p class="article-content">{{ event.content }}</p>
                {% comment %} TODO style {% endcomment %}
                <button class="type_button" onclick="Send({{ event.id }})">Записаться</button>
            </div>
        </article>
    {% endfor %}

    <div id="modal-conteiner" class="hidden">
        <div class="modal-content">
            <p id="modal-text-insert"></p>
            <button onclick="Close()" id="close_button" class="close_button">Закрыть</button>
            <button onclick="Pay()" id="pay_button" class="close_button hidden">Оплатить</button>
        </div>
    </div>

    <script>
        function httpGet(theUrl)
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
            xmlHttp.send( null );
            return xmlHttp.responseText;
        }
        function Pay(){
            document.getElementById('modal-text-insert').innerText = "Успешно оплачено";
            document.getElementById('pay_button').classList.add('hidden');
            document.getElementById('close_button').classList.remove('hidden');
        }
        function Close(){
            document.getElementById('modal-conteiner').classList.add('hidden');
            document.getElementById('modal-conteiner').classList.remove('modal-conteiner');
        }
        function Send(id){
            document.getElementById('modal-conteiner').classList.add('modal-conteiner');
            document.getElementById('modal-conteiner').classList.remove('hidden');
            
            var answer = httpGet('/enjoy_event/'+ id +'/');
            if (~answer.indexOf("оплатить")){
                document.getElementById('close_button').classList.add('hidden');
                document.getElementById('pay_button').classList.remove('hidden');
            }
            document.getElementById('modal-text-insert').innerText = answer;
        }
    </script>
{% endblock content %}
