{% extends "vkr/base.html" %}
{% block content %}
    {% for sub in event_pack %}
        <article class="media content-section">
            <div class="media-body">
                <p>Имя подписчика: {{ sub.username }}</p>
                <p class="text-muted">Дата покупки: {{ sub.purchase_date|date:"F d, Y" }}</p> 
                <p class="text-muted">Действует до: {{ sub.valid_until|date:"F d, Y" }}</p>
                <p>Обо мне: <br>{{sub.profile.profile.about_me}}</p>
                <p>Кого я ищу: <br>{{sub.profile.profile.looking_for}}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}