{% extends "vkr/base.html" %} {% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'sale.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'modal.css' %}">

<div class="content-section">
  <h2>Текущие тарифы</h2>

  <p>Безлимитное посещение мероприятий</p>

  <div class="pricing noselect">
    <div class="plan">
      <h2>"Безлимит" на 3 месяца</h2>
      <div class="price">19.000₽</div>
      <ul class="features">
        <li><i class="fas fa-check-circle"></i> Unlimited Websites</li>
        <li><i class="fas fa-check-circle"></i> 1 User</li>
        <li><i class="fas fa-check-circle"></i> 100MB Space/website</li>
        <li><i class="fas fa-check-circle"></i> Continuous deployment</li>
        <li><i class="fas fa-times-circle"></i> No priority support</li>
      </ul>
      <button onclick="OpenModal('start')">Купить</button>
    </div>
    <div class="plan popular">
      <span>Выбор клиентов</span>
      <h2>"Безлимит" на 6 месяцев</h2>
      <div class="price">30.000₽</div>
      <ul class="features">
        <li><i class="fas fa-check-circle"></i> Unlimited Websites</li>
        <li><i class="fas fa-check-circle"></i> 5 Users</li>
        <li><i class="fas fa-check-circle"></i> 512MB Space/website</li>
        <li><i class="fas fa-check-circle"></i> Continuous deployment</li>
        <li><i class="fas fa-check-circle"></i> Email Support</li>
      </ul>
      <button onclick="OpenModal('middle')">Купить</button>
    </div>
    <div class="plan">
      <h2>"Безлимит" на 12 месяцев</h2>
      <div class="price">50.000₽</div>
      <ul class="features">
        <li><i class="fas fa-check-circle"></i> Unlimited Websites</li>
        <li><i class="fas fa-check-circle"></i> Unlimited Users</li>
        <li><i class="fas fa-check-circle"></i> Unlimited Space/website</li>
        <li><i class="fas fa-check-circle"></i> Continuous deployment</li>
        <li><i class="fas fa-check-circle"></i> 24/7 Email support</li>
      </ul>
      {% comment %} <a href="/active_sub/?sub_type=pro"></a> {% endcomment %}
      <button onclick="OpenModal('pro')">Купить</button>
    </div>
  </div>
</div>
    
    <div id="modal-conteiner" class="hidden">
        <div class="modal-content">
            <p id="modal-text-insert"></p>
            <button onclick="Close()" id="close_button" class="close_button">Закрыть</button>
        </div>
    </div>
    <script>
        function httpGet(theUrl)
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
            xmlHttp.send( null );
            return xmlHttp.responseText;
        }
        async function getBody(url) {
            const options = {
                url: url,
                method: 'GET',
            };

            // Return new promise
            return new Promise(function(resolve, reject) {
                // Do async job
                request.get(options, function(err, resp, body) {
                if (err) {
                    reject(err);
                } else {
                    resolve(body);
                }
                })
            })
        }
        function Close(){
            document.getElementById('modal-conteiner').classList.add('hidden');
            document.getElementById('modal-conteiner').classList.remove('modal-conteiner');
        }
        function OpenModal(id){
            document.getElementById('modal-conteiner').classList.add('modal-conteiner');
            document.getElementById('modal-conteiner').classList.remove('hidden');
            
            var answer = httpGet('/active_sub/start/');
            
            if (~answer.indexOf('pay_page')){
              document.getElementById('close_button').setAttribute( "onClick", "Redirect()" );
              document.getElementById('close_button').innerText = "Оплатить";
              document.getElementById('modal-text-insert').innerText = 'Перейдите на страницу оплаты';
            }
            else{
              document.getElementById('close_button').setAttribute( "onClick", "Close()" );
              document.getElementById('close_button').innerText = "Закрыть";
              document.getElementById('modal-text-insert').innerText = answer;
            }
        }
        function Redirect(){
          window.location.href = '/fake_pay'
        }
    </script>
{% endblock content %}
