.title{
    text-align: center;
    margin-bottom: 40px;
}
#content_section {
    margin-bottom: 70px;
}
.palette{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 200px);
    justify-content: center;
    margin: 50px auto;
    column-gap: 7%;
    row-gap: 27px;
    align-items: center;
    background-color: white;
    padding: 40px;
}
.palette img {
    width: 40px;
    height: 40px;
}
.palette_item{
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    /* align-items: center */
}
.palette_item p{
    margin-top: 7px;
    width: 100%;
    text-align: center;
    font-size: large;
}
.palette_item div {
    width: 100%;
}

/* @media (max-width: 480px) {
    .palette{
        display: none;
    }
} */